
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.box {
    width: 700px
}
h1 {
    text-align: center;
    padding: 20px;
}
h4 {
    margin: 0px;
    padding: 5px;
    border: 1px solid black;
    border-top: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}
p {
    color: black;
    padding: 50px 17px 10px 17px;
}
.backgroud-1 {
    background-color: rgb(250, 150, 150);
    color: black;
}
.backgroud-2 {
    background-color: red;
    color: white;
}
.backgroud-3 {
    background-color: beige;
    color: black;
}
.p-section {
    height: 450px;
    width: 90%;
    background-color: #999999;
    border: 1px solid black;
    margin-bottom: 30px;
    position:relative;
    top:30px;
  left:30%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
} 
 